.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.category {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;

}
.bookshelf-main{
  padding: 20px;
  margin: 0px 300px;
  
}
.containers {
  padding: 10px;

}
.containers h2{
  padding: 10px;
}

select option {
  display: flex;
  gap: 2rem;
}
.topNav {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.library {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 300px;
}
.book-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;

 
}
.search-bar{
  margin: 10px !important;
  display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
}
.containers {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 750px) and (max-width: 1260px) {
  .bookshelf-main{
    margin: 0px 120px;
  }
  .book-container{
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .search-bar{
    width: 600px !important;
  }
}

  @media (min-width: 200px) and (max-width: 749px) {
    .bookshelf-main{
      margin: 0px 10px;
    }
    .library{
      margin: 10px;
    }
    .book-container{
      grid-template-columns: 1fr 1fr;
    }
    .search-bar{
      width: 400px !important;
    }
  }